*.ap_
*.apk
*.class
*.dex
*.iml
*.log
.DS_Store
.gradle/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
.navigation/
.signing/
bin/
build/
captures/
gen/
local.properties
proguard/