<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.muni.danser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_try2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="cz.muni.fi.danser.LIST_PLAYLIST_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity xmlns:android="http://schemas.android.com/apk/res/android"
            android:name=".HandleURL"
            android:label="@string/share_into">

            <!-- share -->
            <intent-filter>

                <!--
                Shazam, SoundCloud, SoundHound,
                Deezer, TrackID, iTunes, YouTube
                -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- view -->
            <intent-filter>

                <!-- Last.fm -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.last.fm"
                    android:pathPattern="/music/.*/_/.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>

                <!-- Shazam -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.shazam.com"
                    android:pathPattern="/.*/track/.*/.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>

                <!-- SoundCloud -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="soundcloud.com"
                    android:pathPattern="/.*/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>

                <!-- SoundHound -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.soundhound.com"
                    android:pathPattern="/?al=.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>

                <!-- Deezer -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.deezer.com"
                    android:pathPattern="/track/.*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>

                <!-- Spotify -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="open.spotify.com"
                    android:pathPattern="/track/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>

                <!-- TrackID -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="trackid.sonymobile.com"
                    android:pathPattern="/track/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>

                <!-- Apple Music - without album -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="itun.es"
                    android:pathPattern="/.*/.*?i=.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>

                <!-- Apple Music - with album -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="itunes.apple.com"
                    android:pathPattern="/.*/album/.*/id.*?i=.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>

                <!-- YouTube -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.youtube.com"
                    android:pathPattern="/watch?v=.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Danser.db" />

        <activity android:name=".GeneratePlaylistActivity" android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SongListActivity" />
        <activity android:name=".DetailFragmentWrapperActivity"/>
    </application>

</manifest>